/*set the background image*/
 body {
    background-image: url('images/math04.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    font-family: 'Crafty Girls', cursive;
    min-height: 180vh;
    background-color: rgb(48, 51, 51);
 }

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    flex: 1 2 0;
    padding-right: 150px;
    padding-left: 600px;
    margin-right: 0px;

}
/* styling the header */
.header {
    color: rgb(239, 72, 153);
    font-family: 'Crafty Girls', cursive;
    font-size: 25px;
}
.frame {
    height: 600px;
    width: 400px;
    background-color: white;
    border: solid rgb(239, 72, 153) 3px;
    border-radius: 12px;
}
