/*set the background image*/
 body {
    background-image: url('images/math04.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    font-family: 'Crafty Girls', cursive;
    min-height: 180vh;
    background-color: rgb(48, 51, 51);
 }

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    flex-grow: 2;
    flex-shrink: 0;
    flex-basis: auto;
}
/* styling the header */
.header {
    color: black;
    text-align: center;
    font-family: 'Crafty Girls', cursive;
    font-size: 25px;
}
.frame {
    height: 600px;
    width: 400px;
    background-color: white;
    border: solid black 3px;
    border-radius: 9px;
}
